<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="PubnubSubscribeKey" value="sub-c-916b6442-49c8-11e4-b8ba-02ee2ddab7fe"/>
    <add key="PubnubPublishKey" value="pub-c-0f006310-52e4-4c51-861b-3e9e2d6e894d"/>
    <add key="GameUpdatesChannelName" value="GameUpdatesChannel"/>
    <add key="PubnubOrigin" value="pubsub.pubnub.com"/>
    <add key="PubnubAuthKey" value="scrambles"/>
  </appSettings>
</configuration>
